@charset "utf-8";
@function hovercolor ($color, $amount ) {
	@if $is-light == true {
		@return lighten($color, $amount)
	}	@else	{
		@return darken($color, $amount)
	}
}

/* 定义media-queries的最小最大宽度 */
@mixin screen($res-min, $res-max){
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max ){
    @content;
  }
}


/* 定义animation的keyframes */
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-ms-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin max-screen($res){
  @media only screen and ( max-width: $res ) {
    @content;
  }
}
@mixin min-screen($res){
  @media only screen and ( min-width: $res ) {
    @content;
  }
}
@mixin min-max-screen($min, $max){
  @media only screen and ( min-width: $min ) and ( max-width: $max ) {
    @content;
  }
}
@mixin clearfix { &:after { content:"."; display:block; height:0; clear:both; visibility:hidden;} }

@mixin box-center-v {
  display:box;
  display:-webkit-box;
  box-orient:vertical;
  box-pack: center;
  box-align: center;
  -webkit-box-orient:vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}